*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
}
h1 {
  @apply flex justify-center text-[34px] md:text-[38px] lg:text-[42px] font-bold m-0 p-0;
}
.link{
  @apply text-[16px] underline underline-offset-4 text-secondary hover:text-primary
}

